.overlay1{
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right ,rgba(0,0,0,0.7),rgba(104, 105, 105, 0.5));
}

.text-holder{
    width: 100%;
    background: rgb(0,0,0,0.7);
    border-radius: 10px;
}

.butun{
    padding: 10px 30px;
    width: 220px;
    margin-top: 20px;
    margin-left: 20px;
    border: 2px solid white;
    color: white;
    font-weight: 900;
    border-radius: 4px;
}

.butun:hover{
    border-radius: 0;
    color: #476D81;
}

/* rgba(209,219,224,0.7) */


@media screen and (max-width:450px) {
    .heading span{
        font-size: 30px;
    }
    .banner-description{
        font-size: 14px;
    }

    .butun{
        padding: 7px 20px;
        width: 120px;
        margin-top: 20px;
        margin-left: 20px;
        border: 2px solid white;
        color: white;
        font-weight: 900;
        border-radius: 4px;
    }
}